{% extends "MenuPage.html" %}
{% load static %}
{% block title %}Registrar venta {% endblock %}
{% block link %}
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'MenuBase/vendor//libs/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'MenuBase/vendor//libs/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}
{% block content %}

{% if request.user.is_staff %}
<div class="card card-primary">
    <form action="" method="post" id="form_venta">{% csrf_token %}
        <input type="hidden" name="action" value="agregar_venta">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h4 class="card-title"><i class="fas fa-shopping-cart"></i> Detalle de los Productos</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador de Productos:</label>
                                <div class="input-group">
                                    <select name="search" class="form-control">
                                        
                                    </select>
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-danger btn-flat"><i
                                            class="fas fa-times"></i></button>
                                      </span>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered" id="tblProducts">
                                <thead>
                                <tr>
                                    <th style="width: 5%;">Eliminar</th>
                                    <th style="width: 45%;">Producto</th>
                                    <th style="width: 20%;">Precio</th>
                                    <th style="width: 15%;">Stock</th>
                                    <th style="width: 15%;">Cantidad</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h6 class="card-title"><i class="fas fa-store"></i> Datos de la venta</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Monto total $:</label>
                                <input type="text" name="monto_total" class="form-control fecha-modal" readonly required>
                            </div>
                            <div class="form-group">
                                <label>Monto total Bs.S:</label>
                                <input type="text" name="monto_total_bs" class="form-control fecha-modal" readonly required>
                            </div>
                            <div class="form-group mt-3">
                                <label>Vendedor:</label>
                                <input type="text" class="form-control" value="{{request.user.username}}" name="personal" id="id_vendedor" readonly>
                            </div>
                            <div class="form-group mt-3">
                                <label>¿Vinculada a una reservación?</label>
                                <select name="reserva_id" id="id_reserva" class="form-control">
                                    <option value="">-- Seleccione una reservación --</option>
                                    {% for x in reserva %}
                                        <option value="{{x.id}}">Reservación: {{x.id}}, Fecha: {{x.fechaReserva|date:'d/m/Y'}}, Cliente: {{x.cliente}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" name="precio_dolar" value="{{precio_dolar.precio}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar registro
            </button>
            <a href="#" class="btn btn-danger btn-flat">Cancelar</a>
        </div>
    </form>
</div>


<div class="modal fade" id="Registrar_salida" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" onclick="cerrar_modal_ingreso();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
		</div>
	</div>
</div>

{% else %}
<div class="misc-wrapper">
    <h2 class="mb-2 mx-2">La página no Funciona :(</h2>
    <p class="mb-4 mx-2">Oops! 😖 No tienes permiso para ingresar a esta sección.</p>
    <a href="{% url 'reservacion:menu' %}" class="btn btn-primary">Regresar al Inicio</a>
    <div class="mt-3">
        <img
            src="{% static 'MenuBase/img/error_page.png' %}"
            alt="page-misc-error-light"
            width="500"
            class="img-fluid"
        />
    </div>
</div>
{% endif %}

{% endblock  %}


{% block js %}
<script type="text/javascript" src="{% static 'MenuBase/js/pages/js_ventas.js' %}"></script>

<script type="text/javascript" src="{% static 'MenuBase/vendor/libs/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MenuBase/vendor/libs/select2/js/i18n/es.js' %}"></script>

{% endblock %}